# GUEST CHECKOUT
GUEST_CHECKOUT_REFERER=""
# ADYEN GUEST CHECKOUT
ADYEN_GUEST_CHECKOUT_IDENTIFIER=""
ADYEN_GUEST_CHECKOUT_ORGANISATION_ID=""
# BRAINTREE GUEST CHECKOUT
BRAINTREE_GUEST_CHECKOUT_IDENTIFIER=""
BRAINTREE_GUEST_CHECKOUT_ORGANISATION_ID=""
# ADYEN TOKEN
ADYEN_CLIENT_ID=""
ADYEN_CLIENT_SCOPE=""
ADYEN_AUTH_TOKEN=""
# BRAINTREE TOKEN
BRAINTREE_CLIENT_ID=""
BRAINTREE_CLIENT_SCOPE=""
BRAINTREE_AUTH_TOKEN=""
# STAGING
STAGING_HOST=""
STAGING_AUTH_HOST=""
STAGING_GUEST_HOST=""
